{{define "posts/show"}}
{{template "_block/header" .}}
<main id="main" class="main">
    <div class="main-inner">
        <div class="content-wrap">
            <div id="content" class="content">
                <div id="posts" class="posts-expand">
                    <article class="post post-type-normal " itemscope itemtype="http://schema.org/Article">
                        <header class="post-header">
                            <h1 class="post-title" itemprop="name headline">
                                {{.Post.Title}}
                            </h1>
                            <div class="post-meta">
          <span class="post-time">
            <span class="post-meta-item-icon">
              <i class="fa fa-calendar-o"></i>
            </span>
            <span class="post-meta-item-text">Posted on</span>
            <time itemprop="dateCreated" datetime="{{dateTime .Post.CreatedAt}}" content="{{dateTime .Post.CreatedAt}}">
              {{dateTime .Post.CreatedAt}}
            </time>
          </span>

                                <span class="post-category">
              &nbsp; | &nbsp;
              <span class="post-meta-item-icon">
                <i class="fa fa-folder-o"></i>
              </span>
              <span class="post-meta-item-text">In</span>

                <span itemprop="about" itemscope itemtype="https://schema.org/Thing">
                  <a href="/categories/{{.Post.Category}}/" itemprop="url" rel="index">
                    <span itemprop="name">{{.Post.Category}}</span>
                  </a>
                </span>





            </span>


                            </div>
                        </header>


                        <div class="post-body" itemprop="articleBody">
                            {{.Description}}
                            {{template "_block/reward" .}}
                        </div>

                        <footer class="post-footer">
                            <div class="post-tags">
                                {{range $tag := .Post.Tags}}
                                <a href="/tags/{{$tag}}/" rel="tag">#{{$tag}}</a>
                                {{end}}
                            </div>
                            {{if 0}}
                            <!--TODO related posts-->
                            <div class="post-nav">
                                <div class="post-nav-next post-nav-item">
                                    <a href="/posts/"
                                       rel="next" title="">
                                        <i class="fa fa-chevron-left"></i> post title
                                    </a>
                                </div>
                                <div class="post-nav-prev post-nav-item">
                                </div>
                            </div>
                            {{end}}
                        </footer>
                    </article>

                    <div class="post-spread">
                    </div>
                </div>
            </div>
            <div class="comments" id="comments">
            </div>
        </div>

        {{if 0}}
        <!--TODO sidebar-->
        {{template "posts/sidebar" .}}
        {{end}}


    </div>
</main>

{{template "_block/footer" .}}
{{end}}

